TOKEN=your_telegram_bot_token
CRYPTO_API_KEY=your_crypto_api_key
FIAT_API_KEY=your_fiat_api_key
DB_NAME=crypto_bot.db

# Примеры токенов для API
OPEN_EXCHANGE_RATES_API_KEY=your_open_exchange_rates_api_key
COINGECKO_API_KEY=your_coingecko_api_key

# Для получения API Open Exchange Rates:
# Нужно зарегистрироваться на их сайте, и в лично кабинете создать (Create App).

# Для получения API CoinGecko нужно просто перейти на сайт CoinGecko API.
# Для бесплатного доступа ключ не нужен.
